body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-image: url('../../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Used in LoginPage and RegisterPage */
.alert {
    color: #d62c2c;
    margin: 5%;
    text-align: center;
}

/* Used in Search, UserPage */
.card{
    margin: 2%;
    display: inline-block;
    max-width: 250px;
    min-height: 273px;
    max-height: 273px;
}
/* Used in Search, UserPage */
.card > img{
    max-height: 185px;
}
/* Used in RecipeDetails, UserRecipeDetails, and CreateRecipe */
.detailImage{
    max-width: 80%;
    max-height: 500px;
}
/* Used in UserRecipeDetails */
.notes{
    white-space: pre-line;
}
.width{
    max-width: 400px;
}