body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-image: url('../../background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.appContainer{
    /* padding-bottom:calc(100vh - 540px); */
}

.alert {
    color: #d62c2c;
    margin: 5%;
    text-align: center;
}

.card{
    margin: 2%;
    display: inline-block;
    max-width: 250px;
    min-height: 273px;
    max-height: 273px;
}

.card > img{
    max-height: 185px;
}

.detailImage{
    max-width: 80%;
    max-height: 500px;
}