body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    color: #d62c2c;
    margin: 5%;
    text-align: center;
}

.card{
    margin: 2%;
    display: inline-block;
    max-width: 250px;
}